.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.verticalGap10{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.horizontalGap10{
  display: flex;
  flex-direction: row;
  gap: 10px;
}